<br/>
<mat-card style="overflow: auto">
  <mat-card-header>
    <mat-card-subtitle>This is your base string</mat-card-subtitle>
    <mat-card-title>{{ baseString }}</mat-card-title>
  </mat-card-header>

  <div *ngFor="let term of _form.terms; let i = index" style="float: left">
      <mat-card class="terms-config" style="padding: 9px">
        <span>{{ term }}</span>
      </mat-card>
    
      <mat-button-toggle-group #group="matButtonToggleGroup" class="terms-config" *ngIf="isLastTerm(i)" value="OR">
        <mat-button-toggle value="AND" (click)="updateOperator(i, 'AND')">AND</mat-button-toggle>
        <mat-button-toggle value="OR" (click)="updateOperator(i, 'OR')">OR</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
</mat-card>