.mat-card-box {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
    padding: 15px;
}

.full-width {
    width: 100%;
    padding: 10px;
}

mat-grid-tile{    
    background: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.12);
    overflow: overlay;
}

mat-form-field{
    margin: 5px;
}

.external-box{
    padding: 10px;
}

.input-config{
    width: 75%;
}

.terms-config{
    float: left;
    padding: 10px;
    min-width: 150px;
    margin: 5px;
}

::ng-deep .align-fix .mat-figure{
    justify-content: initial !important;
}

.terms-config-icon{
    float: right;
}

.terms-config-icon:hover{
    cursor: pointer;
}