<br/>
<mat-card style="padding: 0!important" class="mat-elevation-z4">
  <div class="mat-card-box">
    <mat-card-title>Add your terms</mat-card-title>
  </div>
  <mat-divider></mat-divider>

  <br/>
  <form [formGroup]="form" class="full-width">
    <mat-form-field>
      <mat-label>Select category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option value="General">General</mat-option>
        <mat-option value="Domains">Domain</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-config" required>
      <input matInput placeholder="Enter with the term and press '+' button" formControlName="term">
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="addNewTerm()" aria-placeholder="add button">
      <b>+</b>
    </button>
  </form>
  <div class="external-box">
    <mat-grid-list cols="5" rowHeight="3:1">
      <mat-grid-tile colspan="1">
        <h3>General</h3>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" class="align-fix">
        <div *ngFor="let term of generals">
          <mat-card class="terms-config">
            <span>{{ term }}</span>
            <mat-icon class="terms-config-icon" (click)="removeGeneralTerm(term)">delete</mat-icon>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-divider></mat-divider>
      <mat-grid-tile colspan="1">
        <h3>Domain</h3>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" class="align-fix">
        <div *ngFor="let term of domains">
          <mat-card class="terms-config">
            <span>{{ term }}</span>
            <mat-icon class="terms-config-icon" (click)="removeDomainTerm(term)">delete</mat-icon>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>