<div class="container">
    <h2 class="goal">The main goal of Re-searcher is to make life easier for
        <span style="color: #64798a">researchers</span> and
        <span style="color: #d3554d">students</span> who need to find relevant studies</h2>
</div>

<div class="container text">
    <p>
        <b>Re-searcher</b> expects to make life easier using automation rather than manual labor. With that in mind, the software
        is designed to quickly create search strings so users can - in minutes - browse relevant articles in online libraries.
    </p>
    <p>
        The system is not just about creating strings quickly, but eliminating all ambiguity regarding the rules of scientific libraries.
        Thus, it was designed, structured and developed to support the rapid updating of search rules, and especially, to
        avoid errors that manual work can generate. Therefore, the Re-seacher is not limited, but has a clear focus on supporting two large and important academic groups: researchers
        and students.
    </p>
    <p>When we say "researchers" we refer to masters, doctoral or postdoctoral candidates. In addition, this group also includes
        professionals with some of the degrees mentioned. In the work of these researchers there is always a need to search
        the relevant literature for studies that do some intersection with their field of research. That's why Re-seacher
        can help you find a study quickly and easily.</p>
    <p>
        For the students, we refer to the people who are still in the middle of their graduation. For this audience, the Re-seacher
        can support the help of young researchers (scientific initiation) or during the writing of his monograph (undergraduate
        thesis).
    </p>
</div>