<mat-card (click)="go(true)">
    <mat-card-title>Secondary papers</mat-card-title>
    <mat-card-content>
        <p>
            The secondary paper description...
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card (click)="go(false)">
    <mat-card-title>Primary papers</mat-card-title>
    <mat-card-content>
        <p>
            The primary paper description...
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card (click)="go(false)">
    <mat-card-title>Others</mat-card-title>
    <mat-card-content>
        <p>
            The other paper description...
        </p>
    </mat-card-content>
</mat-card>