/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
}

h1, h2, p, b {
    font-family: 'Roboto Condensed', sans-serif;
}

span, div{
    font-family: 'Roboto Condensed', sans-serif;
}


